body{
    padding-bottom: 500px;
}

/* flex */

.flex {
    display: flex;
    background-color: #ddd;
    margin-bottom: 20px;
}

/* flex column */

.flex-column {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    margin-bottom: 20px;
}

/* wrap */

.wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.box {
    height: 40px;
    width: 33%;
    border: 1px solid red;
}