body{
    padding-bottom: 500px;
}

/* flex */

.flex {
    display: flex;
    background-color: #ddd;
    margin-bottom: 20px;
}

/* flex column */

.flex-column {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
}