/* 4 - External */

body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* Algum comentário */
 
/* Classes */
.paragraph{
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* IDs */
#exclusive-title{
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* Ordem das regras */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome de cores */

.color-name {
    color:crimson;
}

/* Hex */
.hex {
    color: #55a398
}

.hex-2 {
    color: #2c3345
}

/* aprofundando em hex */
.simple-hex{
    color: #333;
}

.simple-hex-2{
    color: #a5f;
}

/* RGB */
.rgb {
    color: rgb(255,0,0);
}

.mixed-rgb {
    color: rgb(199,21,47);
}

/* RGBA */
.rgba {
    color: rgba(100,199,45,0.3);
}

/* HSL */
.hsl {
    color: hsl(100,20%,50%);
}

.hsl-2{
    color: hsl(201,44%,69%);
}

/* Background-color */

.bg {
    background-color: #000;
    color : yellow;
}

.bg-2 {
    background-color: rgb(200,20,40);
    color: #00eaff;
}

/* Background opacity */

.bg-opacity {
    background-color: green;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #999;
    color: #000;
    opacity: 0.8;
}

/* RGBA com opacidade */
.rgba-opacity {
    background-color: rgba(90,120,20,0.2);
    color: #000;
}