/* 4 - External */

body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

p {
    color: blueviolet;
}

/* Algum comentário */
 
/* Classes */
.paragraph{
    background-color: #000;
    color: aqua;
    padding: 5px;
}